@import "tailwindcss";
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-background: #111318;
  --color-surface-lowest: #0c0e12;
  --color-surface-low: #1a1c20;
  --color-surface: #1e2024;
  --color-surface-high: #282a2e;
  --color-surface-highest: #333539;
  
  --color-on-surface: #e2e2e8;
  --color-on-surface-variant: #bac9cc;
  
  --color-primary: #00e5ff;
  --color-on-primary: #00363d;
  
  --color-secondary: #ffabf3;
  --color-tertiary: #ffeac0;
  
  --color-outline: #3b494c;
  --color-outline-variant: #282a2e;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans antialiased;
    background-image: radial-gradient(circle, #282a2e 1px, transparent 1px);
    background-size: 24px 24px;
    background-attachment: fixed;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-outline-variant rounded-full;
  }
}

/* Hide scrollbar for clean horizontal scrolls */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}
